Navigate to directory that houses datasets. In terminal, paste the following lines to import the datasets:  
`mongoimport --db='influencers' --collection='instagram' --file=instagram_data_all-countries.csv  --drop --type=csv --headerline`  
`mongoimport --db='influencers' --collection='threads' --file=threads_data_all-countries.csv  --drop --type=csv --headerline`  
`mongoimport --db='influencers' --collection='tiktok' --file=tiktok_data_all-countries.csv  --drop --type=csv --headerline`  
`mongoimport --db='influencers' --collection='youtube' --file=youtube_data_all-countries.csv  --drop --type=csv --headerline`  
  
Install Flask-PyMongo in jupyter notebook: `!pip install Flask-PyMongo`  
Install prettytable: `!pip install -U prettytable`  
Install seaborn: `!pip install seaborn`

In [7]:
# !pip install Flask-PyMongo
# !pip install -U prettytable
# !pip install seaborn

ERROR: Could not find a version that satisfies the requirement io (from versions: none)
ERROR: No matching distribution found for io

In [6]:
# pip show io

Note: you may need to restart the kernel to use updated packages.

WARNING: Package(s) not found: io

In [ ]:
# import dependencies
from pymongo import MongoClient
import pandas as pd
import numpy as np

In [184]:
# connect to Mongo
client = MongoClient(port=27017)  
db = client['influencers']

In [185]:
collections = ['instagram', 'threads', 'youtube', 'tiktok']

In [186]:
for collection_name in collections:
    
    collection = db[collection_name]
    
    
    cursor = collection.find()
    df = pd.DataFrame(list(cursor))

In [187]:
# create pandas dataframe from collections, add column social_platform
instagram = db['instagram'].find()
instagram_df = pd.DataFrame(list(instagram))
instagram_df['social_platform'] = 'Instagram'

threads = db['threads'].find()
threads_df = pd.DataFrame(list(threads))
threads_df['social_platform'] = 'Threads'

tiktok = db['tiktok'].find()
tiktok_df = pd.DataFrame(list(tiktok))
tiktok_df['social_platform'] = 'TikTok'

youtube = db['youtube'].find()
youtube_df = pd.DataFrame(list(youtube))
youtube_df['social_platform'] = 'YouTube'

# Check dataframe
instagram_df.head()

,_id,#,NAME,FOLLOWERS,ER,COUNTRY,TOPIC OF INFLUENCE,POTENTIAL REACH,social_platform
0,6615258d2104659b995ce9ff,1,Cristiano Ronaldo @cristiano,625.1M,0.01%,Portugal,Finance Soccer,187.5M,Instagram
1,6615258d2104659b995cea00,3,Selena Gomez @selenagomez,429.7M,1.09%,United States,Beauty and Self Care Entertainment and Music M...,128.9M,Instagram
2,6615258d2104659b995cea01,4,Kylie @kyliejenner,400.5M,-,United States,Beauty and Self Care Product Showcase Modeling...,120.1M,Instagram
3,6615258d2104659b995cea02,5,Dwayne Johnson @therock,397.8M,0.13%,United States,Entertainment and Music Actors Public Figure,119.3M,Instagram
4,6615258d2104659b995cea03,2,Leo Messi @leomessi,501.1M,0.01%,Argentina,Sports Soccer Activity General General Interest,150.3M,Instagram

In [188]:
# union dataframes
socials_df = pd.concat([instagram_df, threads_df, tiktok_df, youtube_df], ignore_index=True)

# check merge
socials_df.head()

,_id,#,NAME,FOLLOWERS,ER,COUNTRY,TOPIC OF INFLUENCE,POTENTIAL REACH,social_platform
0,6615258d2104659b995ce9ff,1,Cristiano Ronaldo @cristiano,625.1M,0.01%,Portugal,Finance Soccer,187.5M,Instagram
1,6615258d2104659b995cea00,3,Selena Gomez @selenagomez,429.7M,1.09%,United States,Beauty and Self Care Entertainment and Music M...,128.9M,Instagram
2,6615258d2104659b995cea01,4,Kylie @kyliejenner,400.5M,-,United States,Beauty and Self Care Product Showcase Modeling...,120.1M,Instagram
3,6615258d2104659b995cea02,5,Dwayne Johnson @therock,397.8M,0.13%,United States,Entertainment and Music Actors Public Figure,119.3M,Instagram
4,6615258d2104659b995cea03,2,Leo Messi @leomessi,501.1M,0.01%,Argentina,Sports Soccer Activity General General Interest,150.3M,Instagram

In [189]:
# check merge
socials_df.tail()

,_id,#,NAME,FOLLOWERS,ER,COUNTRY,TOPIC OF INFLUENCE,POTENTIAL REACH,social_platform
395,661525a2ae9afb9f5986ba10,97,La Granja de Zen칩n @UCwpcLKMwiuPg4aqImpGk6Ew,32.3M,-,Argentina,,9.7M,YouTube
396,661525a2ae9afb9f5986ba11,95,Sony PAL @UCw7xjxzbMwgBSmbeYwqYRMg,32.6M,-,,,9.8M,YouTube
397,661525a2ae9afb9f5986ba12,98,Alfredo Larin @alfredolarin,32.3M,-,El Salvador,,9.7M,YouTube
398,661525a2ae9afb9f5986ba13,99,Mikecrack @UCqJ5zFEED1hWs0KNQCQuYdQ,32.2M,0.6%,Spain,,9.7M,YouTube
399,661525a2ae9afb9f5986ba14,100,Saregama Music @UC_A7K2dXFsTMAciGmnNxy-Q,32.1M,-,India,,9.6M,YouTube

In [190]:
# if string contains character then create a new column
# https://stackoverflow.com/questions/59652820/create-new-column-if-dataframe-contains-specific-string
socials_df["Units_followers"] = socials_df["FOLLOWERS"].str.extract("(K|M)")[0]
socials_df.tail()
socials_df.sort_values('Units_followers', ascending=False)

,_id,#,NAME,FOLLOWERS,ER,COUNTRY,TOPIC OF INFLUENCE,POTENTIAL REACH,social_platform,Units_followers
0,6615258d2104659b995ce9ff,1,Cristiano Ronaldo @cristiano,625.1M,0.01%,Portugal,Finance Soccer,187.5M,Instagram,M
263,6615259adab61842f87f84e8,74,DonaldDucc 游붅 @donaldducc,24.7M,-,,Animals,7.4M,TikTok,M
273,6615259adab61842f87f84f2,53,Camilo @camilo,28M,-,,Entertainment and Music,8.4M,TikTok,M
272,6615259adab61842f87f84f1,48,Michel Chavez @its.michhh,30.2M,-,Mexico,,9.1M,TikTok,M
271,6615259adab61842f87f84f0,57,KEEMOKAZI @keemokazi,27M,-,,Entertainment and Music,8.1M,TikTok,M
...,...,...,...,...,...,...,...,...,...,...
172,661525944c72517267b68aa7,73,Gary Vay-Ner-Chuk @garyvee,974.1K,0.54%,,Finance Upskilling Entertainment & Music,292.2K,Threads,K
171,661525944c72517267b68aa6,72,Nazare패 Amarga @nazareamarga,975.7K,0.18%,United Kingdom,Entertainment & Music,292.7K,Threads,K
170,661525944c72517267b68aa5,71,Arsenal @arsenal,976.2K,-,United Kingdom,Sports,292.9K,Threads,K
169,661525944c72517267b68aa4,70,Sarcasm @sarcastic_us,984.8K,0.39%,Brazil,Funny,295.4K,Threads,K
199,661525944c72517267b68ac2,100,Leo Dias @leodias,866.3K,0.14%,,Entertainment & Music Journalism,259.9K,Threads,K

In [193]:
# remove keep numbers only
# https://stackoverflow.com/questions/3411771/best-way-to-replace-multiple-characters-in-a-string
socials_df['followers_number'] = 0.0

for i in range(len(socials_df)):
    if socials_df["Units_followers"][i] == 'K':
        socials_df['followers_number'][i] = socials_df['FOLLOWERS'][i].replace('K', '')
    else:
        socials_df['followers_number'][i] = socials_df['FOLLOWERS'][i].replace('M', '')

# socials_df.sort_values('Units_followers')
socials_df.dtypes

c:\Users\olivi\anaconda3\envs\myfirstpythonenv\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == "__main__":
c:\Users\olivi\anaconda3\envs\myfirstpythonenv\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

_id                    object
#                       int64
NAME                   object
FOLLOWERS              object
ER                     object
COUNTRY                object
TOPIC OF INFLUENCE     object
POTENTIAL REACH        object
social_platform        object
Units_followers        object
followers_number      float64
dtype: object

In [167]:
# get actual follower number
socials_df['followers_actual'] = 0.0

for i in range(len(socials_df)):
    if socials_df['Units_followers'][i] == 'M':
        socials_df['followers_actual'][i] = socials_df['followers_number'][i] * 1000000
    else:
        socials_df['followers_actual'][i] = socials_df['followers_number'][i] * 1000

# socials_df.tail(15)
socials_df.sort_values('Units_followers')

c:\Users\olivi\anaconda3\envs\myfirstpythonenv\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
c:\Users\olivi\anaconda3\envs\myfirstpythonenv\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == "__main__":

,_id,#,NAME,FOLLOWERS,ER,COUNTRY,TOPIC OF INFLUENCE,POTENTIAL REACH,social_platform,Units_followers,followers_number,followers_actual
199,661525944c72517267b68ac2,100,Leo Dias @leodias,866.3K,0.14%,,Entertainment & Music Journalism,259.9K,Threads,K,866.3,866300.0
188,661525944c72517267b68ab7,90,Forbes Brasil @forbesbr,896.6K,0.13%,Brazil,Finance,269K,Threads,K,896.6,896600.0
187,661525944c72517267b68ab6,88,Davido @davido,903.2K,0.84%,Nigeria,Music,271K,Threads,K,903.2,903200.0
186,661525944c72517267b68ab5,86,Fred Bruno @fred,909.8K,0.23%,,Entertainment & Music,272.9K,Threads,K,909.8,909800.0
185,661525944c72517267b68ab4,87,KIM LOAIZA 游둯 @kimberly.loaiza,908.8K,1.98%,,,272.6K,Threads,K,908.8,908800.0
...,...,...,...,...,...,...,...,...,...,...,...,...
119,661525944c72517267b68a72,31,Lele Pons @lelepons,1.4M,0.38%,Venezuela,Entertainment & Music,433.3K,Threads,M,1.4,1400000.0
118,661525944c72517267b68a71,29,BEAUTIFUL DESTINATIONS @beautifuldestinations,1.5M,0.32%,,Travel,441.7K,Threads,M,1.5,1500000.0
117,661525944c72517267b68a70,19,BZRP @bizarrap,1.7M,3.26%,,Entertainment & Music,496.2K,Threads,M,1.7,1700000.0
126,661525944c72517267b68a79,15,Iran Ferreira @luvadepedreiro,1.8M,0.3%,Brazil,Funny,525.2K,Threads,M,1.8,1800000.0
399,661525a2ae9afb9f5986ba14,100,Saregama Music @UC_A7K2dXFsTMAciGmnNxy-Q,32.1M,-,India,,9.6M,YouTube,M,32.1,32100000.0

In [196]:
# do the same extraction for Potential reach column
socials_df["Units_reach"] = socials_df["POTENTIAL REACH"].str.extract("(K|M)")[0]

socials_df['reach_number'] = 0.0

for i in range(len(socials_df)):
    if socials_df["Units_reach"][i] == 'K':
        socials_df['reach_number'][i] = socials_df['POTENTIAL REACH'][i].replace('K', '')
    else:
        socials_df['reach_number'][i] = socials_df['POTENTIAL REACH'][i].replace('M', '')

# get actual reach number
socials_df['reach_actual'] = 0.0

for i in range(len(socials_df)):
    if socials_df['Units_reach'][i] == 'M':
        socials_df['reach_actual'][i] = socials_df['reach_number'][i] * 1000000
    else:
        socials_df['reach_actual'][i] = socials_df['reach_number'][i] * 1000

socials_df.tail(15)
socials_df.sort_values('Units_reach')
# socials_df.dtypes

c:\Users\olivi\anaconda3\envs\myfirstpythonenv\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
c:\Users\olivi\anaconda3\envs\myfirstpythonenv\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\Users\olivi\anaconda3\envs\myfirstpythonenv\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
c:\Users\olivi\anaconda3\envs\myfirstpythonenv\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,_id,#,NAME,FOLLOWERS,ER,COUNTRY,TOPIC OF INFLUENCE,POTENTIAL REACH,social_platform,Units_followers,followers_number,Units_reach,reach_number,followers_actual,reach_actual
199,661525944c72517267b68ac2,100,Leo Dias @leodias,866.3K,0.14%,,Entertainment & Music Journalism,259.9K,Threads,K,866.3,K,259.9,866300.0,259900.0
130,661525944c72517267b68a7d,34,Wiz Khalifa @wizkhalifa,1.4M,0.2%,Brazil,Entertainment & Music,431.3K,Threads,M,1.4,K,431.3,1400000.0,431300.0
131,661525944c72517267b68a7e,6,Anitta 游꿗 @anitta,2.5M,0.8%,Brazil,Entertainment & Music,764.9K,Threads,M,2.5,K,764.9,2500000.0,764900.0
132,661525944c72517267b68a7f,7,Fabrizio Romano @fabriziorom,2.5M,0.15%,,Photography,763.8K,Threads,M,2.5,K,763.8,2500000.0,763800.0
133,661525944c72517267b68a80,35,Victoria's Secret @victoriassecret,1.4M,0.05%,,,421.5K,Threads,M,1.4,K,421.5,1400000.0,421500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,6615258d2104659b995cea61,95,Kriti @kritisanon,55.5M,0.87%,,Art Modeling Artist,16.6M,Instagram,M,55.5,M,16.6,55500000.0,16600000.0
97,6615258d2104659b995cea60,99,HUDA BEAUTY @hudabeauty,54.1M,0.05%,United Arab Emirates,Beauty and Self Care Blogger Creators & Celebr...,16.2M,Instagram,M,54.1,M,16.2,54100000.0,16200000.0
96,6615258d2104659b995cea5f,94,Prilly Latuconsina @prillylatuconsina96,55.7M,0.02%,Indonesia,Entertainment and Music Fashion and Accessorie...,16.7M,Instagram,M,55.7,M,16.7,55700000.0,16700000.0
398,661525a2ae9afb9f5986ba13,99,Mikecrack @UCqJ5zFEED1hWs0KNQCQuYdQ,32.2M,0.6%,Spain,,9.7M,YouTube,M,32.2,M,9.7,32200000.0,9700000.0
399,661525a2ae9afb9f5986ba14,100,Saregama Music @UC_A7K2dXFsTMAciGmnNxy-Q,32.1M,-,India,,9.6M,YouTube,M,32.1,M,9.6,32100000.0,9600000.0